@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
}
*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Raleway';
}

.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

nav
{
  padding:60px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  
}

nav li {
  will-change: transform;
  transition: transform 450ms;
}

nav li:hover{
  transition: transform 125ms;
  transform: translateY(-10px);
  transition-delay: 100ms;
}

@keyframes fade-In {
  from { opacity: 0; }
  to   { opacity: 1; }
}



.condiv
{
  animation: fade-In 3s;
  padding: 100px;
  background-color: #FAF9F6;
  flex:var(--condiv-flex);
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.profilepic
{
  border-radius: 50%;
  width: 200px;
  margin: 30px;
}


.typingeffect{
  font-size: var(--typing-font);
  margin-bottom: 30px;
}

nav ul{
  font-size:var(--fontsize-nav) ;

  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li{
 
  margin:40px;
}

a{
  text-decoration: none;
  color: white;
}

.subtopic{
  /* text-indent: ; */
  margin:10px 10px 30px 10px !important;
}

p{
  text-indent: 10%;
  font-size: var(--fontsize-p);
}

h1,h2,h3,h4,p{
  margin: 10px;
}

.social{
  position: absolute;
  margin-top: 20px;
  display: flex;
  bottom: 60px;
}

.social i{
  padding-right: 30px;
  font-size: 25px;
  color: #9a9b9c;
}

.social i:hover{
  color: #ffffff;
}


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.widecard{
  border:0px solid #9a9b9c;
  flex-direction: column;
  display: flex;
  margin:30px 0px 30px 0px;
  
  animation: bounceIn 2s;
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  outline: black;

  /*  */
  
}

.widecard img{
object-fit: fill;
position:inherit;
height: 65vh;
width: 130vh;
  /* border-radius: 5%; */
}




.active{
  font-weight: bolder;
}

.skills ul li{
  list-style-type:none;
  margin:30px;
}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  
  .App{
    flex-direction: column;
  }

  .sidebar{
    padding: 30px;
    background: rgb(238,103,143);
    background: linear-gradient(90deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
  }

  .condiv{
    padding: 50px ;
  }

  nav ul{
    display: flex;
  }

  nav ul li{
    margin: 10px;
  }

  .social{
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 30px;
  }

  .social i{
    padding-right: 0px;
  }
}